/*Font*/
@import url("https://use.typekit.net/czx8bjc.css");

/*General*/
* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-decoration: none;
  color: #0033FF;
  border:0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: freight-big-pro, serif;
  line-height: 1.12em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
